<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="eurorunnerfolder" value="c:\pavilion\eurorunner\"/>
		<add key="loglevel" value="DEBUG"/>
	</appSettings>
	<connectionStrings>
		<add name="database" connectionString="Data Source=C:\Pavilion\capacitymgt.db"/>
	</connectionStrings>
</configuration>